@use '@/shared/assets/abstracts/color-semantic' as colors;
@use "@/shared/styles/mixins/fonts" as fonts;

.tableHeader {
  background-color: colors.$color-table-bg;
  border-radius: 8px;
  padding: 16px 32px;
  display: grid;
  gap: 32px;
  margin-bottom: 8px;
}

.tableHeaderColumn {
  color: colors.$color-text-on-primary;
  @include fonts.font-regular;
  letter-spacing: 0.15px;
}
