@use '@/shared/assets/abstracts/color-semantic' as colors;
@use '@/shared/styles/mixins/fonts.scss' as fonts;

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: calc(100vh - 240px);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tableBodyRow {
  border: 1px solid colors.$color-border-muted;
  border-radius: 8px;
  gap: 32px;
  padding: 25px 32px;
  transition: border-color ease-out 0.2s;
  display: grid;
  cursor: pointer;

  &:hover {
    border-color: colors.$color-border-hover;
  }
}

.tableBodyCell {
  @include fonts.font-regular;
}
