@use '@/shared/styles/mixins/fonts.scss' as fonts;

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: calc(100vh - 240px);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tableBodyRow {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  gap: 32px;
  padding: 25px 32px;
  transition: border-color ease-out 0.2s;
  display: grid;
  cursor: pointer;

  &:hover {
    border-color: #0b4017;
  }
}

.tableBodyCell {
  @include fonts.font-regular;
}
