@use '@/shared/assets/abstracts/color-semantic' as colors;

.tableWrapper {
  position: relative;
  flex: 1;
  padding: 32px;
  background-color: colors.$color-bg-primary;
  border-radius: 16px;
  box-shadow: -4px -4px 8px rgba(colors.$color-shadow, 0.04), 4px 4px 8px rgba(colors.$color-shadow, 0.04);
}

.table {
  width: 100%;
}