.adminTableWrapper {
  flex: 1;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.04), 4px 4px 8px rgba(0, 0, 0, 0.04);
}

.adminTable {
  width: 100%;
}