@use '@/shared/styles/mixins/fonts.scss' as fonts;

.adminTableBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.adminTableBodyRow {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  display: flex;
  gap: 32px;
  padding: 25px 32px;
  transition: border-color ease-out 0.2s;

  &:hover {
    border-color: #0b4017;
  }
}

.adminTableBodyCell {
  @include fonts.font-regular;
}
