@use '@/shared/assets/abstracts/color-semantic' as colors;
@use '@/shared/styles/mixins/fonts.scss' as fonts;

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: calc(100% - 32px);
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tableBodyRow {
  min-height: 74px;
  border: 1px solid colors.$color-border-muted;
  border-radius: 8px;
  gap: 32px;
  padding: 0 32px;
  transition: border-color ease-out 0.2s;
  display: grid;
  align-items: center;
  cursor: pointer;

  &:hover {
    border-color: colors.$color-border-hover;
  }
}

.tableBodyCell {
  @include fonts.font-regular;
}

.noResults {
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.noResultsText {
  @include fonts.font-medium;
}
