@mixin font-regular {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.15px;
}

@mixin font-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
}
