@use '../../assets/abstracts/color-semantic' as colors;

@mixin sidebar-hover-effect {
  transition: background-color ease-out 0.2s;
  border-radius: 8px;

  &:hover {
    background-color: rgba(colors.$color-bg-hover, 0.1);
  }
}
