.adminLayout {
  display: flex;
  height: 100vh;
  padding: 16px;
  gap: 8px;
  background-color: #F3F2F0;
}

.table {
  padding: 32px;
  background-color: #ffffff;
  flex: 1;
  border-radius: 16px;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.04), 4px 4px 8px rgba(0, 0, 0, 0.04);
}
