@use '@/shared/styles/mixins/fonts' as fonts;

.paginationCounter {
  display: flex;
  align-items: center;
  gap: 12px;
  @include fonts.font-regular;
}

.currentPage {
  border: 1px solid #636363;
  border-radius: 8px;
  transition: border-color ease-out 0.2s;
  padding: 12px;
  width: 64px;
  text-align: center;

  &:hover {
    border-color: #0b4017;
  }
}
