@use 'sass:color';
@use '@/shared/styles/mixins/fonts' as fonts;

$refresh-bg-color: #e5831d;

.refresh {
  display: flex;
  gap: 4px;
  background-color: $refresh-bg-color;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color ease-out 0.2s;

  &:hover {
    background-color: color.adjust($refresh-bg-color, $lightness: -10%);
  }
}

.refreshText {
  color: #ffffff;
  @include fonts.font-medium;
}
