@use 'sass:color';
@use '@/shared/assets/abstracts/color-semantic' as colors;
@use '@/shared/styles/mixins/fonts' as fonts;

.refresh {
  display: flex;
  gap: 4px;
  background-color: colors.$color-btn-warning;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color ease-out 0.2s;

  &:hover {
    background-color: color.adjust(colors.$color-btn-warning, $lightness: -10%);
  }
}

.refreshText {
  color: #ffffff;
  @include fonts.font-medium;
}
