@use "sass:color";
@use "@/view/shared/styles/tokens/colors" as colors;
@use "@/view/shared/styles/mixins/fonts" as fonts;

.pagination {
  display: flex;
  gap: 24px;
  height: 48px;

  &__controls {
    display: flex;
    gap: 8px;
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 12px;
    @include fonts.font-regular;
  }

  &__current-page {
    border: 1px solid colors.$color-border;
    border-radius: 8px;
    transition: border-color ease-out 0.2s;
    width: 64px;
    height: 48px;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &:hover {
      border-color: colors.$color-border-hover;
    }
  }

  &__last-page {
    white-space: nowrap;
    letter-spacing: 0.5px;
  }
}
