@use 'sass:color';
@use '@/shared/assets/abstracts/color-semantic' as colors;

.button {
  padding: 12px;
  border-radius: 8px;
  background-color: colors.$color-btn-secondary;
  cursor: pointer;
  transition: background-color ease-out 0.2s;

  &:hover {
    background-color: color.adjust(colors.$color-btn-secondary, $lightness: -10%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:disabled:hover {
    background-color: colors.$color-btn-secondary;
  }
}
