@use "sass:color";
@use "@/view/shared/styles/tokens/colors" as colors;

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  color: colors.$color-text-inverse;
  transition: background-color ease-out 0.3s;

  &--rect {
    width: 120px;
  }

  &--square {
    width: 48px;
  }

  &--primary {
    background-color: colors.$color-btn-primary;

    &:hover {
      background-color: color.adjust(
        colors.$color-btn-primary,
        $lightness: -8%
      );
    }
  }

  &--warning {
    background-color: colors.$color-btn-warning;

    &:hover {
      background-color: color.adjust(
        colors.$color-btn-warning,
        $lightness: -8%
      );
    }
  }

  &--secondary {
    background-color: colors.$color-btn-secondary;

    &:hover {
      background-color: color.adjust(
        colors.$color-btn-secondary,
        $lightness: -10%
      );
    }
  }

  &--disabled {
    background-color: colors.$color-btn-secondary;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
