@use '@/shared/assets/abstracts/color-semantic' as colors;
@use '@/shared/styles/mixins/fonts.scss' as fonts;
@use '@/shared/styles/mixins/utils.scss' as utils;

.sidebar {
  background-color: colors.$color-sidebar-bg;
  color: colors.$color-text-inverse;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 320px;
  border-radius: 16px;
  padding: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  gap: 0 16px;
  padding: 16px;
  height: 72px;
  background-color: colors.$color-sidebar-header-bg;
}

.headerText {
  flex: 1;
  min-width: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include fonts.font-medium;
  letter-spacing: 0.5px;

}

.nav {
  flex: 1;
  display: flex;
}

.menuList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px 0;
}

.signoutBtn {
  color: inherit;
  width: 100%;
  background-color: transparent;
  display: flex;
  gap: 0 8px;
  padding: 12px;
  cursor: pointer;
  border: none;
  @include utils.sidebar-hover-effect;
}

.divider {
  width: 100%;
  background-color: rgba(colors.$color-divider, 0.32);
  border: none;
  height: 1px;
  margin: 16px 0;
}
