@use '@/shared/styles/mixins/utils.scss' as utils;
@use '@/shared/assets/abstracts/color-semantic' as colors;

.link {
  display: flex;
  padding: 12px;
  gap: 0 8px;
  cursor: pointer;
  @include utils.sidebar-hover-effect;
}

.active {
  background-color: rgba(colors.$color-bg-active, 0.24);
}
