@use '@/shared/styles/mixins/utils.scss' as utils;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

.sidebar {
  background-color: #0e501c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 320px;
  border-radius: 16px;
  padding: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    gap: 0 16px;
    padding: 16px;
    background-color: #116122;

    .headerText {
      color: #ffffff;
      font-size: 18px;
      display: flex;
      justify-content: flex-end;
      min-width: 0;
      flex: 1;

      .username {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .nav {
    flex: 1;
    display: flex;

    .menuList {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 8px 0;
    }
  }

  .footer {
    .signoutBtn {
      width: 100%;
      background-color: transparent;
      display: flex;
      gap: 0 8px;
      padding: 12px;
      cursor: pointer;
      color: #ffffff;
      border: none;
      @include utils.sidebar-hover-effect;
    }
  }

  .divider {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.32);
    height: 1px;
    margin: 16px 0;
  }
}
