@use '@/shared/styles/mixins/utils.scss' as utils;

.link {
  display: flex;
  padding: 12px;
  gap: 0 8px;
  cursor: pointer;
  @include utils.sidebar-hover-effect;
}

.active {
  background-color: rgba(255, 255, 255, 0.24);
}

.text {
  color: #ffffff;
}
