@use "../tokens/colors" as colors;

@mixin sidebar-hover-effect {
  transition: background-color ease-out 0.2s;
  border-radius: 8px;

  &:hover {
    background-color: rgba(colors.$neutral-100, 0.24);
  }
}
