$color-sidebar-bg: #0e501c;
$color-sidebar-header-bg: #116122;
$color-table-bg: #e8f6eb;
$color-bg-active: #ffffff;
$color-bg-hover: #ffffff;
$color-bg-primary: #ffffff;
$color-divider: #ffffff;

$color-text-main: #000000;
$color-text-inverse: #ffffff;
$color-text-selected: #1ca139;
$color-text-on-primary: #16812e;

$color-btn-primary: #1ca139;
$color-btn-secondary: #f2f2f2;
$color-btn-warning: #e5831d;

$color-border: #636363;
$color-border-muted: #e5e5e5;
$color-border-hover: #116122;

$color-shadow: #000000;
