@use "@/view/shared/styles/tokens/colors" as colors;
@use "@/view/shared/styles/tokens/spacing" as spacing;
@use "@/view/shared/styles/mixins/fonts" as fonts;

.table-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  &__table {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  &__header {
    background-color: colors.$primary-95;
    border-radius: 8px;
    padding: spacing.$space-4 spacing.$space-8;
    display: grid;
    gap: 32px;
    margin-bottom: 8px;
  }

  &__header-cell {
    @include fonts.font-regular;

    color: colors.$primary-40;
    letter-spacing: 0.15px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: spacing.$space-2;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    flex: 1;
    min-height: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__body-row {
    min-height: 74px;
    border: 1px solid colors.$neutral-90;
    border-radius: 8px;
    gap: spacing.$space-8;
    padding: spacing.$space-0 spacing.$space-8;
    transition: border-color ease-out 0.2s;
    display: grid;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-color: colors.$neutral-40;
    }
  }

  &__body-cell {
    @include fonts.font-regular;

    letter-spacing: 0.5px;
  }

  &__no-results {
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: spacing.$space-8;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__no-results-text {
    @include fonts.font-medium;
  }

  &__scroll-button {
    z-index: 10;
    position: fixed;
    background-color: colors.$tertiary-45;
    padding: spacing.$space-4;
    border-radius: spacing.$space-8;
    bottom: spacing.$space-12;
    right: spacing.$space-12;
    cursor: pointer;
    transition: all ease-out 0.2s;
    opacity: 0;

    &:hover {
      background-color: colors.$tertiary-40;
    }

    &--visible {
      opacity: 1;
    }
  }
}
