@use "sass:color";
@use "@/view/shared/mixins/colors" as colors;
@use "@/view/shared/mixins/fonts" as fonts;

.customer-pop-up {
  position: fixed;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$color-bg-primary;
  border-radius: 16px;
  box-shadow: -4px -4px 8px rgba(colors.$color-shadow, 0.04), 4px 4px 8px rgba(colors.$color-shadow, 0.04);
}

.customer-pop-up__title {
  @include fonts.font-medium;
  width: 100%;
  border-bottom: 1px solid colors.$color-border-muted;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}

.customer-pop-up__list {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .customer-pop-up__item {
    display: flex;
    align-items: center;
    gap: 24px;

    .customer-pop-up__label {
      @include fonts.font-medium;
      width: 120px;
    }

    .customer-pop-up__value {
      @include fonts.font-regular;
      letter-spacing: 0.5px;
      flex: 0 0 auto;
      width: 240px;
      border: 1px solid colors.$color-border-muted;
      padding: 12px;
      border-radius: 8px;
    }
  }
}

.customer-pop-up__action-bar {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  .customer-pop-up__button {
    width: 120px;
    padding: 16px 0;
    border-radius: 8px;
    cursor: pointer;
    color: colors.$color-text-inverse;
    transition: background-color ease-out 0.3s;
  }

  .customer-pop-up__button--cancel {
    background-color: colors.$color-btn-warning;

    &:hover {
      background-color: adjust-color(colors.$color-btn-warning, $lightness: -8%);
    }
  }

  .customer-pop-up__button--confirm {
    background-color: colors.$color-btn-primary;

    &:hover {
      background-color: adjust-color(colors.$color-btn-primary, $lightness: -8%);
    }
  }
}
