@use "sass:color";
@use "@/view/shared/styles/colors" as colors;
@use "@/view/shared/styles/mixins/fonts" as fonts;

.customer-pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include fonts.font-medium;
    width: 100%;
    border-bottom: 1px solid colors.$color-border-muted;
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
  }

  &__list {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__label {
    @include fonts.font-medium;
    width: 100px;
  }

  &__wrapper {
    @include fonts.font-regular;
    position: relative;
  }

  &__error-text {
    position: absolute;
    color: crimson;
    top: -24px;
    left: 8px;
  }

  &__input {
    letter-spacing: 0.5px;
    width: 300px;
    border: 1px solid colors.$color-border-muted;
    padding: 12px;
    border-radius: 12px;
    transition: border-color ease-out 0.3s;

    &:hover {
      border-color: color.adjust(colors.$color-border-muted, $lightness: -12%);
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__button {
    width: 120px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    color: colors.$color-text-inverse;
    transition: background-color ease-out 0.3s;

    &--cancel {
      background-color: colors.$color-btn-warning;

      &:hover {
        background-color: color.adjust(colors.$color-btn-warning, $lightness: -8%);
      }
    }

    &--confirm {
      background-color: colors.$color-btn-primary;

      &:hover {
        background-color: color.adjust(colors.$color-btn-primary, $lightness: -8%);
      }
    }
  }
}
