@use 'sass:color';
@use '@/view/shared/styles/colors' as colors;
@use '@/view/shared/styles/mixins/fonts' as fonts;

.search {
  display: flex;
  gap: 8px;

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 472px;
    border: 1px solid colors.$color-border;
    border-radius: 8px;
    padding: 0 12px;
    height: 48px;

    &:hover {
      border-color: colors.$color-border-hover;
    }
  }

  &__img {
    &--cross {
      margin-left: 12px;
      cursor: pointer;
    }
  }

  &__input {
    flex: 1;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    margin-left: 4px;

    &::placeholder {
      line-height: 24px;
    }
  }

  &__button {
    @include fonts.font-regular;
    width: 120px;
    background-color: colors.$color-btn-primary;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color ease-out 0.2s;
    color: colors.$color-text-inverse;
    padding: 12px 0;
    letter-spacing: 0.15px;

    &:hover {
      background-color: color.adjust(colors.$color-btn-primary, $lightness: -10%);
    }
  }
}
