@use "@/view/shared/styles/tokens/colors" as colors;

.customers {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 32px;
  padding: 32px;
  background-color: colors.$primary-100;
  border-radius: 16px;
  box-shadow:
    -4px -4px 8px rgb(colors.$primary-0, 0.04),
    4px 4px 8px rgb(colors.$primary-0, 0.04);

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}
