$primary-25: #0e501c;
$primary-30: #116122;
$primary-40: #16812e;
$primary-50: #1ca139;
$primary-95: #e8f6eb;
$secondary-95: #f3f2f0;
$tertiary-40: #bf7b2d;
$tertiary-45: #e5831d;
$error-50: #d60000;
$neutral-0: #000;
$neutral-40: #636363;
$neutral-90: #e5e5e5;
$neutral-95: #f2f2f2;
$neutral-100: #fff;
