@use "@/view/shared/styles/tokens/colors" as colors;

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  color: colors.$neutral-100;
  transition: background-color ease-out 0.3s;

  &--rect {
    width: 120px;
  }

  &--square {
    width: 48px;
  }

  &--primary {
    background-color: colors.$primary-50;

    &:hover {
      background-color: colors.$primary-40;
    }
  }

  &--warning {
    background-color: colors.$tertiary-45;

    &:hover {
      background-color: colors.$tertiary-40;
    }
  }

  &--secondary {
    background-color: colors.$neutral-95;

    &:hover {
      background-color: colors.$neutral-90;
    }
  }

  &--disabled {
    background-color: colors.$neutral-90;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
