@use "@/view/shared/styles/tokens/colors" as colors;
@use "@/view/shared/styles/mixins/fonts" as fonts;
@use "@/view/shared/styles/mixins/utils" as utils;

.sidebar {
  background-color: colors.$color-sidebar-bg;
  color: colors.$color-text-inverse;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  border-radius: 16px;
  padding: 16px;
  letter-spacing: 0.5px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    gap: 16px;
    padding: 16px;
    height: 72px;
    background-color: colors.$color-sidebar-header-bg;
  }

  &__hello-text {
    @include fonts.font-medium;

    flex: 1;
    min-width: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
  }

  &__divider {
    width: 100%;
    background-color: rgba(colors.$color-divider, 0.32);
    border: none;
    height: 1px;
    margin: 16px 0;
  }

  &__nav {
    flex: 1;
    display: flex;
  }

  &__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
  }

  &__link {
    @include utils.sidebar-hover-effect;

    display: flex;
    padding: 12px;
    gap: 8px;
    cursor: pointer;
    white-space: nowrap;

    &--active {
      background-color: rgba(colors.$color-bg-active, 0.24);
    }
  }

  &__text {
    white-space: nowrap;
  }

  &__signout-button {
    @include utils.sidebar-hover-effect;

    color: inherit;
    width: 100%;
    background-color: transparent;
    display: flex;
    gap: 8px;
    padding: 12px;
    cursor: pointer;
    border: none;
  }

  &__signout-text {
    @include fonts.font-regular;

    letter-spacing: 0.15px;
  }
}
