@use "@/view/shared/styles/tokens/colors" as colors;
@use "@/view/shared/styles/tokens/spacing" as spacing;
@use "@/view/shared/styles/tokens/radius" as radius;
@use "@/view/shared/styles/mixins/fonts" as fonts;
@use "@/view/shared/styles/mixins/utils" as utils;

.sidebar {
  background-color: colors.$primary-25;
  color: colors.$primary-100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  border-radius: radius.$radius-5;
  padding: spacing.$space-4;
  letter-spacing: 0.5px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    gap: spacing.$space-4;
    padding: spacing.$space-4;
    height: 72px;
    background-color: colors.$primary-30;
  }

  &__hello-text {
    @include fonts.font-medium;

    flex: 1;
    min-width: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
  }

  &__divider {
    width: 100%;
    background-color: rgba(colors.$primary-100, 0.32);
    border: none;
    height: 1px;
    margin: spacing.$space-4 spacing.$space-0;
  }

  &__nav {
    flex: 1;
    display: flex;
  }

  &__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: spacing.$space-2;
  }

  &__link {
    @include utils.sidebar-hover-effect;

    display: flex;
    padding: spacing.$space-3;
    gap: spacing.$space-2;
    cursor: pointer;
    white-space: nowrap;

    &--active {
      background-color: rgba(colors.$primary-100, 0.24);
    }
  }

  &__text {
    white-space: nowrap;
  }

  &__signout-button {
    @include utils.sidebar-hover-effect;

    color: inherit;
    width: 100%;
    background-color: transparent;
    display: flex;
    gap: spacing.$space-2;
    padding: spacing.$space-3;
    cursor: pointer;
    border: none;
  }

  &__signout-text {
    @include fonts.font-regular;

    letter-spacing: 0.15px;
  }
}
