@use '@/shared/assets/abstracts/color-semantic' as colors;
@use '@/shared/styles/mixins/fonts' as fonts;
@use 'sass:color';

.searchBtn {
  background-color: colors.$color-btn-primary;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color ease-out 0.2s;

  &:hover {
    background-color: color.adjust(colors.$color-btn-primary, $lightness: -10%);
  }
}

.searchBtnText {
  color: colors.$color-text-inverse;
  @include fonts.font-regular;
  margin: 12px 34.5px;
}
